:root {
  --text-base-color: #000;
  --text-primary-color: #00A82D;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
